.list-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
}

.list-item-wrapper:not(:first-child) {
  padding-top: 28px;
}

.todo-text {
  font-size: 22px;
  color: rgb(255, 249, 249);
}

.icons-container {
  margin-right: 80px;
}